@model JuliePro.ViewModels.TrainerObjectivesVM

@{
    ViewData["Title"] = "Objectives";
}

<h1>Objectives</h1>

<div class="accordion" id="trainerAccordion">
    @foreach (var trainer in Model.Trainers)
    {
        <div class="accordion-item">
            <!-- Vue partielle _TrainerObjectives ici -->
            <partial name ="_TrainerObjectives" model="trainer" />
            <div id="collapse_@trainer.Id" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">

                @if (Model.Customers.Any(t => t.Customer.TrainerId == trainer.Id))
                {
                    <div class="accordion-body">
                        <!-- Vue partielle _CustomerObjectives ici -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Customer's Name</th>
                                    <th>Nb Completed Objectives</th>
                                    <th>Nb Incompleted Objectives</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var customer in Model.Customers.Where(t => t.Customer.TrainerId == trainer.Id))
                                {
                                    <partial name="_CustomerObjectives" model="customer" />
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    }
</div>  